// #

@import bourbon/bourbon
@import font-awesome/font-awesome

*
  margin: 0px
  padding: 0px

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

$moteio-blue: #357b95

body, html
  margin: 0px
  width: 100%
  font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif

#loading
  position: absolute
  top: 0px
  left: 0px
  display: none
  .mask
    position: fixed
    z-index: 2
    background-color: white
    opacity: .8
    width: 100%
    height: 100%
  .icon
    font-size: 100px
    position: fixed
    left: 50%
    top: 50%
    display: block
    z-index: 3
    margin-left: -29px
    margin-top: -40px
    color: $moteio-blue
    height: 1em
    padding: 15px 20px
    border-radius: 25px
    background-color: #fff

#homebase
  background-image: url('/images/patterns/square_bg.png')
  ul#apps
    width: 96%
    margin: 0px auto
    -moz-padding-start: 0px
    -webkit-padding-start: 0px
    -khtml-padding-start 0px
    -o-padding-start 0px
    padding-start 0px
    list-style-type: none
    margin-left: 3%
    margin-top: 2%
    li
      width: 30%
      height: 28%
      margin-left: 2%
      margin-top: 2%
      float: left
      display: block
      opacity: .8
      position: relative
      &.soon
        opacity: .1
        span
          width: 470px
          height: 200px
          position: absolute
          left: 0px
          top: 0px
          line-height: 200px
          text-align: center
          text-transform: uppercase
          font-size: 120px
          display: none
      &.selected
        img
          border: 3px solid $moteio-blue
          @include box-shadow(0px 0px 30px $moteio-blue)
          opacity: 1
      &.active
        opacity: 1
      a
        display: block
        img
          border: 3px solid transparent
          max-width: 100%
          border-radius: 10px
          max-height: 100%
