// #

@import bourbon/bourbon
@import font-awesome/font-awesome

$moteio-blue: #357b95

body, html
  margin: 0px
  width: 100%
  font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif

.content
  width: 992px
  margin: 0px auto

#loading
  position: absolute
  top: 0px
  left: 0px
  display: none
  .mask
    position: fixed
    z-index: 2
    background-color: white
    opacity: .8
    width: 100%
    height: 100%
  .icon
    font-size: 100px
    position: fixed
    left: 50%
    top: 50%
    display: block
    z-index: 3
    margin-left: -29px
    margin-top: -40px
    color: $moteio-blue
    height: 1em
    padding: 15px 20px
    border-radius: 25px
    background-color: #fff

#homebase
  ul#apps
    list-style-type: none
    width: 992px
    margin-left: -20px
    margin-top: -20px
    li
      width: 470px
      height: 200px
      border-radius: 10px
      margin-left: 20px
      margin-top: 20px
      float: left
      display: block
      border: 3px solid white
      opacity: .8
      position: relative
      &.soon
        opacity: .1
        span
          width: 470px
          height: 200px
          position: absolute
          left: 0px
          top: 0px
          line-height: 200px
          text-align: center
          text-transform: uppercase
          font-size: 120px
          display: none
      &.selected
        border: 3px solid $moteio-blue
        @include box-shadow(0px 0px 50px $moteio-blue)
        opacity: .9
      &.active
        opacity: 1
      a
        display: block
        width: 470px
        height: 206px
      &#hypem
        background-image: url(/images/sites/hypem.png)
      &#grooveshark
        background-image: url(/images/sites/grooveshark.png)
      &#pandora
        background-image: url(/images/sites/pandora.png)
      &#rdio
        background-image: url(/images/sites/rdio.png)
      &#vimeo
        background-image: url(/images/sites/vimeo.png)
      &#shelby
        background-image: url(/images/sites/shelby.png)
      &#tetris
        background-image: url('/images/sites/tetris.png')

