extends layout

block content
  #content.container.text-page
    .heading
      h1 Mote.io Beta
      hr

    p Mote.io is currently in beta. Your account needs to be activated by an admin before you can sign in!
    p You will get an email when your account has been granted access.
    p Thank you for your interest and you'll be hearing from me soon!
    hr
    p
      a(href='http://twitter.com/sw1tch') Follow me on twitter for updates about mote.io
