extends layout

block content
  #content.container.text-page
    .heading
      h1 Developer API Documentation Coming Soon
      hr
      p Follow me on&nbsp;
        a(href='http://twitter.com/sw1tch') Twitter
        | &nbsp;for updates about the API.
