extends layout

block content
  #content.container.text-page.developers

    .row
      .span2
      .span8
        .heading
          h1 Frequently Asked Questions
        section
          h2 How does Mote.io control my TV?
          hr
          p It doesn't, Mote.io controls Google Chrome on your browser. You can then plug your computer into a TV.
        section
          h2 How does Mote.io control my Browser?
          hr
          p Mote.io uses a Google Chrome extension so it can take control of other websites. Download the Google Chrome extension here.
        section
          h2 Is there an recurring monthly cost for Mote.io?
          hr
          p Mote.io is for sale in the app store and does not require any kind of recurring charge.
        section
          h2 Will Mote.io support more sites in the future?
          hr
          p Yes! There are about 20 sites planned in the future releases of Mote.io. I suspect the number of compatible sites to be in the hundreds.
        section
          h2 Does Mote.io work for [insert site here]?
          hr
          p Leave me a note on the community page here, or tweet at me @sw1tch on Twitter. The more you annoy me the more likely I'll build a remote for that platform.
        section
          h2 Does Mote.io work with Netflix?
          hr
          p It's possible to control everything but the movie player at the moment. Once Netflix switches to their HTML5 player it will work for sure.
         section
          h2 Why does this exist?
          hr
          p Mote.io turns the web into a media center for your computer. I invented the remote as an experiment, but realized I could created a similar experience to Boxee or Roku by navigating between websites.
         section
          h2 So Mote.io is essentially a Boxee or Roku for just a couple bucks?
          hr
          p Exactly, Mote.io removes the hardware box from the equation and uses your phone to control your computer. There is no need to buy an additional device when you've got your laptop!
