extends layout

block content
  #content.container.text-page.developers

    .row
      .span2
      .span8
        .heading
          h1 Frequently Asked Questions
        section
          h2 The mobile app is stuck on "Syncing..."
          hr
          p Follow the directions on the&nbsp;
            a(href="/start") start page.
        section
          h2 It's still not syncing.
          hr
          p Are you sure you installed the Mote.io&nbsp;
            a(href='https://chrome.google.com/webstore/detail/okkhbojknlfdoooeghbkplihbjajpecc/publish-accepted') Google Chrome extension
            | ?
        section
          h2 Really, it's still not syncing.
          hr
          p Try restarting Google Chrome.
        section
          h2 Nope.
          hr
          p Make sure you're signed into the same account on both the computer and phone. Otherwise,&nbsp;
            a(href='http://twitter.com/sw1tch') tweet @sw1tch
            |&nbsp;for support.
        section
          h2 I can sync on /start and /homebase, but other sites ask me to log in.
          hr
          p Make sure the option "Block third-party cookies and site data" is disabled in Google Chrome privacy settings.
          p If you don't want to enable third-party cookies and data globally, you can add an exception just for Mote.io by using the pattern: [*.]mote.io
          p You can read more about third-party cookies and custom exceptions on the
            a(href='')  Google Chrome support site.
        section
          h2 How does Mote.io control my TV?
          hr
          p Mote.io works by syncing your phone to Google Chrome browser. You can connect your computer to your TV and use it as an external display.
        section
          h2 How does Mote.io control my Browser?
          hr
          p Mote.io uses a&nbsp;
            a(href='https://chrome.google.com/webstore/detail/okkhbojknlfdoooeghbkplihbjajpecc/publish-accepted') Google Chrome extension
            |&nbsp;to control other websites.
        section
          h2 How can I keep my MacBook from falling asleep?
          hr
          p I reccomend&nbsp;
            a(href='https://www.macupdate.com/app/mac/22211/insomniax') InsomniaX
            |.
        section
          h2 How can I keep my MacBook in clamshell mode while hooked up to my TV like in the video?
          hr
          p You need to connect a power cable, external keyboard, and external mouse for clamshell mode to work. Read more about that&nbsp;
            a(href='http://support.apple.com/kb/HT3131') here
            |.
        section
          h2 I'm having trouble setting up Mote.io.
          hr
          p Have you followed the steps on the&nbsp;
            a(href='/start') start page
            |? Try restarting Google Chrome. If all else fails,&nbsp;
            a(href='http://twitter.com/sw1tch') tweet @sw1tch
            |&nbsp;for support.
        section
          h2 Is there an recurring monthly cost for Mote.io?
          hr
          p Mote.io is for sale in the app store and does not require any kind of recurring charge.
        section
          h2 Will Mote.io support more sites in the future?
          hr
          p Yes! There are about 20 sites planned in the future releases of Mote.io. I suspect the number of compatible sites to be in the hundreds.
        section
          h2 Does Mote.io work with Netflix?
          hr
          p It's possible to control everything but the movie player at the moment. Once Netflix switches to their HTML5 player it will work for sure.
        section
          h2 Does Mote.io work for [insert site here]?
          hr
          p Leave me a note on the&nbsp;
            a(href='/community') community page
            |&nbsp;or&nbsp;
            a(href='http://twitter.com/sw1tch') tweet @sw1tch
            |&nbsp;for support.
        section
          h2 Why does this exist?
          hr
          p Mote.io turns the web into a media center for your computer. I invented the remote as an experiment, but realized I could created a similar experience to Boxee or Roku by navigating between websites.
         section
          h2 So Mote.io is essentially a Boxee or Roku for just a couple bucks?
          hr
          p Exactly, Mote.io removes the hardware box from the equation and uses your phone to control your computer. There is no need to buy an additional device when you've got your laptop!
