h1 Getting Started
p It only takes a second to get started with Mote.io.
// is logged in?
h2.b First, create an account.
h2.a You're already logged in as #, so that's great.
// modify div with id
h2.a Just install Chrome Extension
h2.b And you've got the chrome extension installed.
// click mote.io button, go to homebase with connection dialog
// point toward apk, or play store link
h2.b So just download the Mote.io App
h2.a Download the mote.io app
// go to this page and show additional dialog about downloading app
h2.a.b Then launch homebase
