extends layout

block content
  #content.container.text-page.developers

    .row
      .span4

          h2 Select your presentation
          hr
          p
            img(src='/images/help/google_drive/step-1.png')
          p First, select your presentation from a list of your Google Drive documents.

      .span4
          h2 Present in new window
          hr
          p
            img(src='/images/help/google_drive/step-2.png')
          p Click the arrow next to "Present" and select "Present in new window." Mote.io will start sycning and you'll get controls on your phone!

      .span4
        h2 I'm good, let's go!
        hr
        a.btn.btn-large.btn-primary(href='http://drive.google.com') Google Drive


