head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
  meta(name='description',content='')
  meta(name='viewport',content='width=device-width')
  link(rel='stylesheet',href='css/homebase.css')
body#homebase
  ul#apps
    li#vimeo
      a(href='http://vimeo.com/couchmode')
        img(src='/images/sites/vimeo.png')
    li#hypem
      a(href='http://hypem.com')
        img(src='/images/sites/hypem.png')
    li#google-play
      a(href='https://play.google.com/music/listen#/all')
        img(src='/images/sites/google-play-music.png')
    li#grooveshark
      a(href='http://grooveshark.com/#!/popular')
        img(src='/images/sites/grooveshark.png')
    li#youtube
      a(href='http://moteioyoutube-9226.onmodulus.net')
        img(src='/images/sites/youtube.png')
    li#pandora
      a(href='http://pandora.com')
        img(src='/images/sites/pandora.png')
    li#soundcloud
      a(href='http://soundcloud.com')
        img(src='/images/sites/soundcloud.png')
    li#rdio
      a(href='http://rdio.com')
        img(src='/images/sites/rdio.png')
    li#tunein
      a(href='http://tunein.com/')
        img(src='/images/sites/tunein.png')
    //
      li#plex
        a(href='http://www.plexapp.com/getplex/')
          img(src='/images/sites/plex.png')
    li#twitch
      a(href='http://www.twitch.tv/directory')
        img(src='/images/sites/twitch.png')
    li#lastfm
      a(href='http://www.last.fm/listen')
        img(src='/images/sites/lastfm.png')

    #li#googledrive
      #a(href='/google-drive')
        #img(src='/images/sites/google-drive.png')

  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  link(rel='stylesheet',href='css/plugin.css')
  script(type='text/javascript', src='js/plugin.js')
  script(type='text/javascript', src='js/homebase.js')
