
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="css/homebase.css"/>
</head>
<body>
  <div id="loading">
    <div class="mask"></div><span>WORKING</span>
  </div>
  <div id="homebase" class="content">
    <ul id="apps">
      <li id="hypem"><a href="http://hypem.com"></a></li>
      <li id="rdio"><a href="http://rdio.com"></a></li>
      <li id="grooveshark" class="soon"><span>soon</span><a href="http://grooveshark.com"></a></li>
      <li id="pandora" class="soon"><span>soon</span><a href="http://pandora.com"></a></li>
      <li id="vimeo" class="soon"><span>soon</span><a href="http://vimeo.com"></a></li>
      <li id="shelby" class="soon"><span>soon</span><a href="http://shelby.tv"></a></li>
      <li id="tetris"><a href="http://htmltetris.com"></a></li>
    </ul>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/homebase.js"></script>
  <script type="text/javascript" src="js/plugin.js"></script>
</body>