meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
title
meta(name='description',content='')
meta(name='viewport',content='width=device-width')
link(rel='stylesheet',href='css/homebase.css')

script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
script(type='text/javascript', src='js/homebase.js')

div#loading
  div.mask
  span.icon.icon-spin.icon-screenshot
div#menu
  span.icon-cog
div#homebase.content
  ul#apps
    li#hypem
      a(href='http://hypem.com')
    li#grooveshark
      a(href='http://grooveshark.com')
    li#pandora
      a(href='http://pandora.com')
    li#rdio
      a(href='http://rdio.com')
    li#vimeo
      a(href='http://vimeo.com')
    li#shelby
      a(href='http://shelby.tv')
