extends layout

block content
  .homepage
    .container
      .hero-unit
        p.ac
          | Don't Get Up.
        #macbook_carousel
          #phone
            .site.homebase
              img(src='images/phone/homebase.png')
            .site.hypem
              img(src='images/phone/hypem.png')
            .site.rdio
              img(src='images/phone/rdio.png')
          #carousel.carousel.slide(rel='carousel')
            .carousel-inner
              .active.item.homebase
                img(src='images/carousel/homebase.png', alt='')
              .item.hypem
                img(src='images/carousel/hypem.png', alt='')
              .item.rdio
                img(src='images/carousel/rdio.png', alt='')
            a.carousel-control.left(href='#carousel', data-slide='prev') ‹
            a.carousel-control.right(href='#carousel', data-slide='next') ›
      .row
        .span8
          h1.lead
            b Mote.io&nbsp;
            | lets you control websites like Grooveshark, Soundcloud, Pandora, Hype Machine, Vimeo, and more from your phone.
        .span4
          p.ac
            a.btn.btn-large.btn-primary(href='/start', title='')
              b Get Started
          p.ac
            | Alpha v0.1
      hr
      .row
        .span4
          h2 Sit Back & Relax
          p
            | Keep your butt on the couch. Seriously. Don't get up. Surf the web from a distance using your phone.
        .span4
          h2 Your Favorite Sites
          p
            | And more to come. 6 sites supported out of the box. Our free developer API means new remotes in the future!
        .span4
          h2
            | Homebase
          p
            | Launch your favorite apps from one convenient place.
