extends layout

block content
  .homepage
    .container
      .row
        .span2
        .span8.ac.leading
          p
            a(href='#theVideo')
              span.icon-facetime-video
              | &nbsp; Watch the video
          h1.lead Turn your phone into a remote control for Youtube, Pandora, Spotify, Grooveshark, SoundCloud, Google Play, and more.
          p.hide-on-mobile
            a.btn.btn-large.btn-primary(href='https://itunes.apple.com/us/app/mote.io/id686305047?mt=8&uo=4', title='', style='margin-left: 5px;')
              b Get Mote.io for iOS
            a.btn.btn-large.btn-primary(href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io', title='', style='margin-left: 5px;')
              b Get Mote.io for Android
          p.show-on-mobile
            a(href='https://itunes.apple.com/us/app/mote.io/id686305047?mt=8&uo=4')
              img(src='/images/app-apple.png', style='margin-right: 10px; height: 40px;')
            a(href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io')
              img(src='/images/app-droid.png', style='margin-right: 10px; height: 40px;')
  .logos
    .container.works-with
      .row
        .span12
          img(src='/images/works-with.png')
      .row
        .span2
          img(src='/images/sites/vimeo.png')
        .span2
          img(src='/images/sites/hypem.png')
        .span2
          img(src='/images/sites/google-play-music.png')
        .span2
          img(src='/images/sites/grooveshark.png')
        .span2
          img(src='/images/sites/youtube.png')
        .span2
          img(src='/images/sites/pandora.png')
      .row
        .span2
          img(src='/images/sites/soundcloud.png')
        .span2
          img(src='/images/sites/rdio.png')
        .span2
          img(src='/images/sites/tunein.png')
        .span2
          img(src='/images/sites/twitch.png')
        .span2
          img(src='/images/sites/lastfm.png')
        .span2
          img(src='/images/sites/spotify.png')
  .trifooter
    .container
      .row
        .span4.ac
          img(src='images/clean/screen-1.png', alt='')
          h3 Your favorite sites
          p
            | 8 sites supported out of the box. An open developer API means more remotes to come!
        .span4.ac
          img(src='images/clean/screen-14.png', alt='')
          h3 Sit back & relax
          p
            | Keep your butt on the couch. Ditch your TV for the Youtube and Vimeo remotes!
        .span4.ac
          img(src='images/clean/screen-7.png', alt='')
          h3
            | Your computer is a stereo
          p
            | Plug into speakers and use Mote.io to take control of your music no matter where you are.

  .supported-sites
    .container
      #theVideo.row
        .span12
          iframe(width='100%', height='530', src='//player.vimeo.com/video/73461680', frameborder='0', allowfullscreen='allowfullscreen')
      .row
        .span3
        .span6.ac
          p
            a(href='https://itunes.apple.com/us/app/mote.io/id686305047?mt=8&uo=4')
              img(src='/images/app-apple.png', style='margin-right: 10px; height: 60px;')
            a(href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io')
              img(src='/images/app-droid.png', style='margin-right: 10px; height: 60px;')
          img.supported(src='images/clean/sites.png', alt='')
