extends layout

block content
  .homepage
    .container
      .row
        .span2
        .span8.ac.leading
          p
            a(href='#theVideo')
              span.icon-facetime-video
              | &nbsp; Watch the video
          h1.lead Turn your phone into a remote control for Pandora, Grooveshark, Soundcloud, Hype Machine, Vimeo, and more.
          p
            a.btn.btn-large.btn-primary(href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io', title='', style='margin-left: 5px;')
              b Get Mote.io for Android
          p Mote.io for iPhone coming soon
  .logos
    .container
      .row
        .span12
          img(src='images/works-with.png', alt='')
  .trifooter
    .container
      .row
        .span4.ac
          img(src='images/clean/screen-1.png', alt='')
          h3 Your favorite sites
          p
            | And more to come. 6 sites supported out of the box. The developer API means new remotes in the future!
        .span4.ac
          img(src='images/clean/screen-7.png', alt='')
          h3
            | Your computer is a stereo
          p
            | Place your phone next to your keyboard and increase your APM with media hotkeys for your favorite websites.
        .span4.ac
          img(src='images/clean/screen-15.png', alt='')
          h3 Sit back & relax
          p
            | Keep your butt on the couch. Seriously. Don't get up. Surf the web from a distance using your phone.

  .supported-sites
    .container
      #theVideo.row
        .span12
          iframe(width='100%', height='720', src='//www.youtube.com/embed/WzairZZQBdM?rel=0', frameborder='0', allowfullscreen='allowfullscreen')
      .row
        .span3
        .span6.ac
          p
            // img(src='/images/app-apple.png', style='margin-right: 10px; height: 60px;')
            a(href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io')
              img(src='/images/app-droid.png', style='margin-right: 10px; height: 60px;')
          img.supported(src='images/clean/sites.png', alt='')
