!!! 5
html.not-ie(lang='en').moteio-container
  head
    meta(charset='utf-8')
    title Mote.io - The Website Remote
    meta(name='description', content='Control your favorite web pages with mote.io')
    meta(name='author', content='Ian Jennings')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(rel='icon', type='image/png', href='/images/huge_logo.png')

    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/font-awesome/font-awesome.css', rel='stylesheet')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet', type='text/css')

    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

    meta(property='fb:app_id', content='163150470537618')
    if page=='share'
      meta(property='og:type', content='moteio:share')
      meta(property='og:url', content='https://mote.io/share?line1=' + query.line1 + '&line2=' + query.line2 + '&image=' + query.image + '&url=' + query.url +'&remote=' + query.remote)
      meta(property='og:title', content="I'm controlling " + query.line1 + ' - ' + query.line2 + ' with the ' + query.remote + ' remote on Mote.io')
      meta(property='og:image', content=query.image)

    script
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.8.3.min.js"%3E%3C/script%3E'))

  body
    header#header
      .navbar
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse', style=(page=='share') && "display: none")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/')
              b Mote
              | .io
            .nav-collapse(style=(page=='share') && "display: none")
              ul.nav
                li(class=(page=='home') && "active")
                  a(href='/') Home
                li(class=(page=='community') && "active")
                  a(href='/community') Community
                li(class=(page=='start') && "active")
                  a.homebase-link(href='/start') Launch Homebase
      block content
      footer
        .container
          .row
            .span9
              h3 Mote.io
              ul
                li
                  a(href='/') Home
                li
                  a(href='/start') Get Started
                li
                  a(href='/community') Community
                li
                  a(href='/developers') Developers
            .span3.social-networks
              h3 One man operation
              p Follow me here:
              a.icon-twitter(href='http://twitter.com/sw1tch', title='Follow me on Twitter')
              a.icon-github(href='http://github.com/ianjennings', title='Follow me on Github')
        #footer-extra
          .container
            .row
              .span4
                | © 2013 Mote.io
              .span5
              .span3
                i.icon-envelope &nbsp;
                | hello@mote.io
      script(type='text/javascript', src='js/bootstrap.min.js')
      script(type='text/javascript', src='js/jquery.isotope.min.js')
      script(type='text/javascript', src='js/jquery.touchSwipe.js')
      script(type='text/javascript', src='js/jquery.hotkeys.min.js')
      script(type='text/javascript', src='js/functions.js')
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40127738-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
