!!! 5
html.not-ie(lang='en')
  head
    meta(charset='utf-8')
    title Landing page template for your project
    meta(name='description', content='Page description')
    meta(name='author', content='Your name')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    link(href='css/style.css', rel='stylesheet')
    link(href='css/font-awesome/font-awesome.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet', type='text/css')

    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.8.3.min.js"%3E%3C/script%3E'))
  body
    header#header
      .navbar
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='index.html')
              b Mote
              | .io
            .nav-collapse
              ul.nav
                li.active
                  a(href='index.html') Home
                li
                  a(href='work.html') Get Started
                li
                  a(href='work.html') Developers

      #content.container
      .homepage
        .container
          .hero-unit
            p.ac
              | Don't Get Up.
            #macbook_carousel
              #carousel.carousel.slide(rel='carousel')
                .carousel-inner
                  .active.item
                    img(src='assets/carousel_1.jpg', alt='')
                  .item
                    img(src='assets/carousel_2.gif', alt='')
                  .item
                    img(src='assets/carousel_3.gif', alt='')
                a.carousel-control.left(href='#carousel', data-slide='prev') ‹
                a.carousel-control.right(href='#carousel', data-slide='next') ›
          .row
            .span8
              h1.lead
                b Mote.io&nbsp;
                | let's you control websites like Grooveshark, Soundcloud, Pandora, Hype Machine, Vimeo, and more from your phone.
            .span4
              p.ac
                a.btn.btn-large.btn-primary(href='plans.html', title='')
                  b Get Started
              p.ac
                | Aplha v0.1
          hr
          .row
            .span4
              h2 Sit Back & Relax
              p
                | Keep your butt on the couch. Seriously. Don't get up. Surf the web from a distance using your phone.
            .span4
              h2 Your Favorite Sites
              p
                | And more to come. 6 Sites supported out of the box. Our free developer api means new remotes in the future!
            .span4
              h2
                | Homebase
              p
                | Launch your favoite apps from one convenient place.
      footer
        .container
          .row
            .span9
              h3 Mote.io
              ul
                li
                  a(href='index.html') Home
                li &nbsp;
                li
                  a(href='work.html') Get Started
                li &nbsp;
                li
                  a(href='work.html') Developers
            .span3.social-networks
              h3 One man operation
              p Follow me here:
              a.icon-twitter(href='http://twitter.com/sw1tch', title='Follow me on Twitter')
              a.icon-github(href='http://github.com/ianjennings', title='Follow me on Github')
        #footer-extra
          .container
            .row
              .span4
                | © 2013 Mote.io
              .span5
              .span3
                i.icon-envelope &nbsp;
                | hello@mote.io
      script(type='text/javascript', src='js/bootstrap.min.js')
      script(type='text/javascript', src='js/jquery.isotope.min.js')
      script(type='text/javascript', src='js/jquery.touchSwipe.js')
      script(type='text/javascript', src='js/jquery.hotkeys.min.js')
      script(type='text/javascript', src='js/functions.min.js?v=2')
