extends layout

block content
  #content.container.text-page
    .row
      .span4
      .span4
        h2 Log In
        hr

        if (err)
          .alert.alert-error #{err}

        form(action="/login",method="post")
          div
            label Email
            input(type="text",name="username")

          div
            label Password
            input(type="password",name="password")

          div
            input.btn(type="submit",value="Log In")

          div
            hr
            a(href='/register') Create an account.
