extends layout

block content
  #content.container.text-page
    .row
      .span4
      .span4

        - if (typeof(alert) !== 'undefined'){
          .alert #{alert}
        - }

        - if (typeof(err) !== 'undefined'){
          .alert.alert-error #{err}
        - }

        h2 Log In
        hr

        form(action="/login",method="post")
          div
            label Email
            input(type="text",name="username")

          div
            label Password
            input(type="password",name="password")

          div
            input.btn(type="submit",value="Log In")
