extends layout

block content
  #content.container.text-page
    .heading
      h1 Getting Started
      p It only takes a second to get started with Mote.io.
    if (user)
      .alert.alert-success
        | You are currently logged in as #{user.username}.&nbsp;
        a(href = '/logout') Logout.
    else
      .well.well-large
        h2 Sign in.
        hr
        p
          | You are logged out. &nbsp;
          a(href='/register') Sign up for the beta
          | &nbsp;or&nbsp;
          a(href='/login') login
          |.

    .moteio-state-installed
      .alert.alert-success Mote.io Chrome Extension found.
    .moteio-state-not-installed
      .well.well-large
        h2 Install the Chrome Extension
        hr
        p Install the chrome extension
          | then&nbsp;
          a(href='/start') refresh this page
          | .
        p
          a.btn(href='https://chrome.google.com/webstore/detail/moteio/okkhbojknlfdoooeghbkplihbjajpecc') Get Mote.io Chrome Extension
    .moteio-state-signed-in
      .alert.alert-success App found.
    .moteio-state-not-signed-in
      .well.well-large
        h2 Sign into the mobile app.
        hr
        p
          a.btn(href='/downloads/Mote.io.apk') Get Mote.io for Android
        p You will probably need to&nbsp;
          a(href='http://www.androidcentral.com/allow-app-installs-unknown-sources') allow apps from unkown sources
          | .
        hr
        p Mote.io for iPhone coming soon

