extends layout

block content
  #content.container.text-page

    .row
      .span2
      .span8

        .heading
          h1 Follow the steps below to sync

        .show-on-mobile
          p.text-center.mobile-download
            a.btn.btn-large.btn-block(target="_blank", href='https://itunes.apple.com/us/app/mote.io/id686305047?mt=8&uo=4') Get Mote.io for iOS
            a.btn.btn-large.btn-block(target="_blank", href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io') Get Mote.io for Android
          .alert
            | We're hiding the other setup instructions because it looks like you're on a mobile device. If you want to see the computer instructions,&nbsp;
            a.show-hide-on-mobile click here.

        .hide-on-mobile

          .moteio-state-installed
            .alert.alert-success
              strong Step 1 Complete!
          .moteio-state-not-installed
            .well.well-large
              h2 Step 1: Install the Chrome Extension.
              hr
              p Install the Chrome extension
                | then&nbsp;
                a(href='/start') refresh this page.
                |&nbsp;If that doesn't work, try restarting your browser.
              hr
              p
                a.btn(target='_blank', href='https://chrome.google.com/webstore/detail/moteio/okkhbojknlfdoooeghbkplihbjajpecc') Get Mote.io Chrome Extension

          if (typeof user !== "undefined" && user)
            .alert.alert-success
              strong Step 2 Complete!
          else
            .well.well-large
              h2 Step 2: Sign in on the website.
              hr
              p
                | You are logged out. &nbsp;
                a(href='/register') Sign up
                | &nbsp;or&nbsp;
                a(href='/login') login
                |.
          .moteio-state-signed-in
            .alert.alert-success
              strong Step 3 Complete!
              |&nbsp;App found.
          .moteio-state-not-signed-in
            .well.well-large
              h2 Step 3: Sign into the mobile app.
              hr
              if (typeof user !== "undefined" && user)
                p Sign in as #{user.username} on the phone app.
              else
                p Sign in with the same account you used in Step 2.
              hr
              p
                a.btn(target="_blank", href='https://itunes.apple.com/us/app/mote.io/id686305047?mt=8&uo=4') Get Mote.io for iOS
                a.btn(target="_blank", href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io', style="margin-left: 10px;") Get Mote.io for Android


  script
    $(document).ready(function(){
      $('.show-hide-on-mobile').click(function(){
        $('.hide-on-mobile').show();
      });
    });
