extends layout

block content

  h1 Getting Started
  p It only takes a second to get started with Mote.io.
  ol
    li
      a(href='/register') Create an account
      | &nbsp;or&nbsp;
      a(href='/login') Login
    li Install the Chrome Extension
    li Download the Mote.io app
