extends layout

block content
  #content.container.text-page

    .row
      .span2
      .span8

        .heading
          h1 Syncing with phone...

        .show-on-mobile
          p.text-center.mobile-download
            a.btn.btn-large.btn-block(target="_blank", href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io') Get Mote.io for Android
          .alert
            | We're hiding the other setup instructions because it looks like you're on a mobile device. If you want to see the computer instructions,&nbsp;
            a.show-hide-on-mobile click here.

        .hide-on-mobile
          if (typeof user !== "undefined" && user)
            .alert.alert-success
              | You are currently logged in as #{user.username}.
          else
            .well.well-large
              h2 Sign in.
              hr
              p
                | You are logged out. &nbsp;
                a(href='/register') Sign up
                | &nbsp;or&nbsp;
                a(href='/login') login
                |.

          .moteio-state-installed
            .alert.alert-success Mote.io Chrome Extension found.
          .moteio-state-not-installed
            .well.well-large
              h2 Install the Chrome Extension.
              hr
              p Install the Chrome extension
                | then&nbsp;
                a(href='/start') refresh this page.
              p
                a.btn(target='_blank', href='https://chrome.google.com/webstore/detail/moteio/okkhbojknlfdoooeghbkplihbjajpecc') Get Mote.io Chrome Extension

          .moteio-state-signed-in
            .alert.alert-success App found.
          .moteio-state-not-signed-in
            .well.well-large
              h2 Sign into the mobile app.
              hr
              p
                a.btn(target="_blank", href='https://play.google.com/store/apps/details?id=com.ianjennings.mote_io', style="margin-right: 10px;") Get Mote.io for Android
                a.btn(target="_blank", href='#') Get Mote.io for iPhone


  script
    $(document).ready(function(){
      $('.show-hide-on-mobile').click(function(){
        $('.hide-on-mobile').show();
      });
    });
