.moteio-button-popup {
	position: fixed;
	z-index: 9999;
	border-radius: 10px;
	background-color: white;
	opacity: .7;
	text-align: center;
	width: 33%;
	left: 33%;
	top: 33%;
	height: 200px;
	display: block;
	font-size: 100px;
	border: 6px solid #111;
}
.moteio-button-popup [class^="icon-"], .moteio-button-popup [class*=" icon-"] {
	font-size: 100px;
	line-height: 226px;
	font-family: FontAwesome;
	color: #111;
}
